body {
    background: #f9f7fe;
    font-family: "Roboto", sans-serif;
}

a {
    color: darkslateblue;
}
h1{
    color: white;
}

.weather-app {
    max-width: 600px;
    margin: 60px auto;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
    position: relative;
    overflow: hidden;
    z-index: 1;
}

.weather-app::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: url('weather-background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    filter: blur(8px);
    z-index: -1;
}

.weather-app::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.3), rgba(255, 255, 255, 0.3));
    z-index: 0;
}


.weather-app * {
    position: relative;
    z-index: 2;
   
}

header {
    border-bottom: 1px solid #f9f7fe;
    padding:0 0 30px 0;
}

.search-form-input {
    background-color:#DFDFDF;
    border: none;
    color: rgba(39, 33, 66, 0.4);
    font-style: 16px;
    padding: 20px;
    width: 75%;
    border-radius: 6px;
}

.search-form-button {
    margin-left: 5px;
    font-size: 16px;
    background-color: #8490B9;
    color: white;
    border: none;
    padding: 20px;
    line-height: 1;
    border-radius: 5px;
}

main {
    padding: 30px 0;
}

.current-temperature {
    font-size: 48px;
}

.weather-app-data {
    display: flex;
    justify-content: space-between;
}

.weather-app-city {
    font-size: 38px;
    font-weight: 900;
    margin: 0;line-height: 48px;
}
.weather-app-details {
    color: #4E4881;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
}
.weather-app-temperature-container{
    display:flex;
}
.weather-app-details strong {
    color: #f65282;
}
.weather-app-icon {
    width: 88px;
    height: 88px;
}

.weather-app-temperature {
    font-size: 88px;
    font-weight: bold;
    line-height: 88px;
    color: white;
}

.weather-app-unit {
   margin-top: 6px;
   font-size: 28px;
   color:white;
}
.weather-forecast{
    display: inline-flex;
    margin-top: 20px;
    text-align: center;
    color: darkslateblue;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
        

}
.weather-forecast-icon{
    width: 70px;
    height: 70px;
}

.weather-forecast-date{
    font-size: 16px;
    opacity:0.8 ;
    color: darkblue;

}
.weather-forecast-temperature{
    font-size: 13px;
}
.weather-forecast-temperature-min{
    opacity: 0.8;
}

.weather-forecast-day {
    flex: 1;
    margin: -6px;
    min-width: 100px;
}
footer {
    border-top: 1px solid #f9f7fe;
    text-align: center;
    padding-top: 30px 0 0 0;
    color: white;
    font-size: 14px;
}